body {
    font-family: 'Open Sans', sans-serif;
    line-height: 20px;
    color: #ffffff;
    font-size: 16px;
    padding: 10px;
}



/***************
header
***************/
.header {
    padding: 30px;
    text-align: center;
    background-color: #ffffff;
    font-family: 'Euphoria Script';
    font-size: 45px;
    color: #0073e6;
}

.ab {
    padding: 30px;
}

.atap {
    padding: 30px;
    background-color: #123649;

}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

h1,
h2,
h3,
h5,
h6 {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    color: #fff;
}

.back {
    background-color: #e6e6e6;
    padding: 30px;
}

.judul {
    font-family: 'Euphoria Script';
    font-size: 45px;
    color: #0073e6;
    background-color: #e6e6e6;
    padding: 30px;
}

.huruf {
    color: black;
}

.judul3 {
    color: #0073e6;
}

.adem {
    color: black;
}

.link {
    color: #0073e6;
}

a,
a:hover,
a:focus,
a:active {
    outline: none;
}

.section-padding {
    padding: 60px 0px;

}

h2 {
    line-height: 20px;
    margin: 0;
    font-size: 28px;
    font-weight: 700;
    text-transform: uppercase;
}

hr.botm-line {
    height: 3px;
    width: 60px;
    background: #ffb737;
    position: relative;
    border: 0;
    margin: 20px 0 20px 0;
}

.awal {
    margin-top: 15px;
    margin-bottom: 15px;
    color: white;
}

.text {
    padding-top: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
}



/***************************************
banner
***************************************/
.navbar {
    margin-bottom: 0px;
    border: 0px;
}

.navbar {
    border-radius: 0px;
}

.navbar-default {
    background-color: #fff;
    padding: 20px 0;
    transition: all 0.3s;
}

.navbar-default {
    background-color: transparent;
    border: 0px;
}

.navbar {
    border-radius: 0px;
}

.navbar-brand {
    font-family: 'Chewy', cursive;
    font-size: 32px;
}

.navbar-brand img {
    padding-top: 2px;
    width: 120px !important;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #EA6045;
}

@media (max-width: 768px) {
    .navbar-collapse {
        background: rgba(28, 74, 90, 0.9);
    }
}

.top-nav-collapse {
    padding: 0;
    background: rgba(28, 74, 90, 0.9);
}

.white,
.white:hover,
.white:focus {
    color: #fff;
    width: 100% !important;
}

.block {
    display: block;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    color: #fff;
    text-transform: uppercase;
    background-color: rgba(12, 184, 182, 0.21);
}

.navbar-default .navbar-nav>li>a {
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
    color: #fff;
    text-transform: uppercase;
    background-color: rgba(12, 184, 182, 0.21);
}

.affix {
    background-color: #ffffff !important;
}

.affix .navbar-nav>li>a:hover,
.affix .navbar-nav>li>a:focus {
    background-color: rgba(12, 184, 182) !important;
}

#banner {
    background: url('../img/puskes.jpeg') no-repeat fixed;

    background-size: cover;
    min-height: 650px;
    position: relative;
}

#fasi {
    background-color: #f1f1f1;
    position: relative;
}

@media (max-width: 1024px) {
    #fasi {
        background-attachment: scroll;
    }
}

@media (max-width: 1024px) {
    #banner {
        background-attachment: scroll;
    }
}

.bg-color {
    background-color: RGBA(13, 70, 83, 0.78);
    min-height: 650px;
}

.fasili {
    background-color: #f1f1f1;
    min-height: 650px;
}

.banner-info {
    padding-top: 190px;
}

.banner-logo img {
    display: inline-block;
}

.banner-text {
    color: #fff;
}

.banner-text h1 {
    font-family: 'Candal', sans-serif;
    font-size: 35px;
    text-transform: uppercase;
    padding-bottom: 15px;
}

@media screen and (max-width:600px) {

    .img,
    .banner,
    .bg-color,
    .container {
        width: 100%;
    }
}

@media screen and (max-width: 800px) {

    .leftcolumn,
    .rightcolumn {
        width: 100%;
        padding: 0;
    }
}

.btn-appoint,
.btn-appoint:hover,
.btn-appoint:focus {
    margin-top: 30px;
    padding: 10px 20px;
    font-size: 12px;
    background-color: rgba(12, 184, 182, 0.91);
    border-radius: 3px;
    color: #fff;
}

.overlay-detail a i {
    text-align: center;
    position: absolute;
    bottom: 25px;
    font-size: 38px;
    color: #fff;
    margin: 0 auto;
}

.text-primary i {
    padding-top: 8px;
    display: inline-block;
}

/******sevice*******/


.service-info {
    margin-bottom: 20px;
}

.icon-info h4 {
    padding-bottom: 15px;
}

.icon-info p {
    font-size: 15px !important;
}

.services {
    padding-bottom: 20px;
}

.services .icon-box {
    padding: 30px;
    position: relative;
    overflow: hidden;
    margin: 0 0 40px 0;
    background: #fff;
    box-shadow: 0 5px 26px 0 rgba(68, 88, 144, 0.14);
    transition: all 0.3s ease-in-out;
    text-align: center;
    border: 1px solid #fff;
}

.services .icon {
    margin: 0 auto 20px auto;
    padding-top: 17px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    width: 72px;
    height: 72px;
}

.services .icon i {
    font-size: 36px;
    line-height: 1;
}

.services .title {
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 18px;
}

.services .title a {
    color: #111;
}

.services .description {
    font-size: 15px;
    line-height: 28px;
    margin-bottom: 0;
}

.services .icon-box-pink .icon {
    background: #fceef3;
}

.services .icon-box-pink .icon i {
    color: #ff689b;
}

.services .icon-box-pink:hover {
    border-color: #ff689b;
}

.services .icon-box-cyan .icon {
    background: #e6fdfc;
}

.services .icon-box-cyan .icon i {
    color: #3fcdc7;
}

.services .icon-box-cyan:hover {
    border-color: #3fcdc7;
}

.services .icon-box-green .icon {
    background: #eafde7;
}

.services .icon-box-green .icon i {
    color: #41cf2e;
}

.services .icon-box-green:hover {
    border-color: #41cf2e;
}

.services .icon-box-blue .icon {
    background: #e1eeff;
}

.services .icon-box-blue .icon i {
    color: #2282ff;
}

.services .icon-box-blue:hover {
    border-color: #2282ff;
}

/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs {
    padding: 15px 0;
    background-color: #f3f8fa;
    min-height: 40px;
}

.breadcrumbs h2 {
    font-size: 28px;
    font-weight: 300;
}

.breadcrumbs ol {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
}

.breadcrumbs ol li+li {
    padding-left: 10px;
}

.breadcrumbs ol li+li::before {
    display: inline-block;
    padding-right: 10px;
    color: #6c757d;
    content: "/";
}

@media (max-width: 768px) {
    .breadcrumbs .d-flex {
        display: block !important;
    }

    .breadcrumbs ol {
        display: block;
    }

    .breadcrumbs ol li {
        display: inline-block;
    }
}

@media (min-width: 551px) and (max-width: 980px) {}

@media (min-width: 220px) and (max-width: 551px) {
    .testi-info {
        margin-bottom: 20px;
    }

    .marb20 {
        margin-top: 30px;
    }

    h2 {
        font-size: 24px;
        line-height: 1.2;
    }



    .section-title {
        margin-bottom: 30px;
        padding: 20px;
    }

    .section-bg {
        background-color: #f3f8fa;
        padding-bottom: 20px;
    }
}

.judul1 {
    margin-bottom: 30px;
}

.lg-line {
    line-height: 1.4;
    font-size: 28px;
}

.medi-info {
    border: 0px;
    border-bottom: 1px solid #fff;
}

.service-info {
    margin-top: 20px;
    margin-bottom: 0px;
}

.caption h3 {
    font-size: 14px;
}

.caption p {
    font-size: 12px;
    padding-bottom: 5px;
}

.caption ul li a i {
    font-size: 14px;
}

.banner-text h1 {
    font-size: 24px;
}


/***************************************
cta-1
***************************************/
.schedule-tab {
    background-color: #0CB8B6;
    float: left;
}

.medi-info {
    border-right: 1px solid #fff;
}

.medi-info,
.time-info {
    padding: 20px;
    color: #fff;
}

.medi-info h3,
.time-info h3 {
    padding-bottom: 16px;
    color: #fff;
    font-weight: 600;
}

.medi-info-btn,
.medi-info-btn:hover,
.medi-info-btn:focus {
    margin: 15px 0px 5px;
    display: inline-block;
    border: solid white 2px;
    padding: 3px 8px;
    font-size: 12px;
    color: #fff;
    font-weight: 400 !important;
    cursor: pointer;
}

td {
    border: 0px solid #ededed;
    border-top: 1px solid rgba(216, 216, 216, 0.5);
    padding: 6px 10px 6px 0;
}

.medi-info,
.time-info {
    font-size: 14px;
}

/*--------------------------------------------------------------
# Why Us
--------------------------------------------------------------*/
.why-us .container {
    box-shadow: 0 5px 25px 0 rgba(214, 215, 216, 0.6);
    background: #fff;
}

.why-us .icon-box+.icon-box {
    margin-top: 50px;
}

.why-us .icon-box .icon {
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 72px;
    height: 72px;
    background: #f3f8fa;
    border-radius: 6px;
    transition: 0.5s;
}

.why-us .icon-box .icon i {
    color: #68A4C4;
    font-size: 32px;
}

.why-us .icon-box:hover .icon {
    background: #68A4C4;
}

.why-us .icon-box:hover .icon i {
    color: #fff;
}

.why-us .icon-box .title {
    margin-left: 95px;
    font-weight: 700;
    margin-bottom: 10px;
    font-size: 18px;
    text-transform: uppercase;
}

.why-us .icon-box .title a {
    color: #343a40;
    transition: 0.3s;
}

.why-us .icon-box .title a:hover {
    color: #68A4C4;
}

.why-us .icon-box .description {
    margin-left: 95px;
    line-height: 24px;
    font-size: 14px;
}

.why-us .video-box {
    position: relative;
}

.why-us .video-box img {
    padding-top: 15px;
    padding-bottom: 15px;
}

.why-us .play-btn {
    width: 94px;
    height: 94px;
    background: radial-gradient(#68A4C4 50%, rgba(104, 164, 196, 0.4) 52%);
    border-radius: 50%;
    display: block;
    position: absolute;
    left: calc(50% - 47px);
    top: calc(50% - 47px);
    overflow: hidden;
}

.why-us .play-btn::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-40%) translateY(-50%);
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 15px solid #fff;
    z-index: 100;
    transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.why-us .play-btn::before {
    content: '';
    position: absolute;
    width: 120px;
    height: 120px;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation: pulsate-btn 2s;
    animation: pulsate-btn 2s;
    -webkit-animation-direction: forwards;
    animation-direction: forwards;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: steps;
    animation-timing-function: steps;
    opacity: 1;
    border-radius: 50%;
    border: 5px solid rgba(104, 164, 196, 0.7);
    top: -15%;
    left: -15%;
    background: rgba(198, 16, 0, 0);
}

.why-us .play-btn:hover::after {
    border-left: 15px solid #68A4C4;
    transform: scale(20);
}

.why-us .play-btn:hover::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-40%) translateY(-50%);
    width: 0;
    height: 0;
    border: none;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 15px solid #fff;
    z-index: 200;
    -webkit-animation: none;
    animation: none;
    border-radius: 0;
}

@-webkit-keyframes pulsate-btn {
    0% {
        transform: scale(0.6, 0.6);
        opacity: 1;
    }

    100% {
        transform: scale(1, 1);
        opacity: 0;
    }
}

@keyframes pulsate-btn {
    0% {
        transform: scale(0.6, 0.6);
        opacity: 1;
    }

    100% {
        transform: scale(1, 1);
        opacity: 0;
    }
}

/**************
aboutus
*******/
.row:after {
    content: "";
    display: table;
    clear: both;
}

.kiri {
    float: left;
    width: 25%;
}

.kanan {
    float: right;
    width: 75%;
    background-color: #f1f1f1;
    padding-left: 20px;
}

.kartu {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
}

.fakeimg {
    background-color: #aaa;
    width: 100%;
    height: auto;

}

.paragraf {
    font-size: 10px;
}




/***************************************
cta -2
***************************************/
#cta-2 {
    background-color: rgb(41, 48, 46);
}

.white {
    color: #fff;
}

.icon-play,
.icon-play:hover,
.icon-play:focus {
    background-color: #0CB8B6;
    padding: 5px 10px;
    color: #fff;
    text-decoration: none;
    padding: 5px 17px;
    margin-top: 26px;
    display: block;
}

.text-primary {
    color: #0cb8b6;
}

.icon-mar {
    margin-right: 7px;
}

/***************************************
doctor team
***************************************/
.thumbnail {
    border-radius: 0px;
}

.caption h3 {
    padding-bottom: 5px;
}

.caption p {
    padding-bottom: 10px;
}

.small-image {
    width: 20%;
}

.big-image {
    width: 35%;
}

.border-lv3 {
    border: 3px solid black;
}

.border-lv1 {
    border: 1px solid black;
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact {
    padding-bottom: 30px;
}

.contact .info-box {
    color: #444;
    text-align: center;
    box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
    padding: 20px 0 30px 0;
    margin-bottom: 30px;
}

.contact .info-box i {
    font-size: 32px;
    color: #68A4C4;
    border-radius: 50%;
    padding: 8px;
    border: 2px dotted #a2cce3;
}

.contact .info-box h3 {
    font-size: 20px;
    color: #666;
    font-weight: 700;
    margin: 10px 0;
}

.contact .info-box p {
    padding: 0;
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
}

.contact .php-email-form {
    box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
    padding: 30px;
    margin-bottom: 30px;
}

.contact .php-email-form .validate {
    display: none;
    color: red;
    margin: 0 0 15px 0;
    font-weight: 400;
    font-size: 13px;
}

.contact .php-email-form .error-message {
    display: none;
    color: #fff;
    background: #ed3c0d;
    text-align: center;
    padding: 15px;
    font-weight: 600;
}

.contact .php-email-form .sent-message {
    display: none;
    color: #fff;
    background: #18d26e;
    text-align: center;
    padding: 15px;
    font-weight: 600;
}

.contact .php-email-form .loading {
    display: none;
    background: #fff;
    text-align: center;
    padding: 15px;
}

.contact .php-email-form .loading:before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 0 10px -6px 0;
    border: 3px solid #18d26e;
    border-top-color: #eee;
    -webkit-animation: animate-loading 1s linear infinite;
    animation: animate-loading 1s linear infinite;
}

.contact .php-email-form input,
.contact .php-email-form textarea {
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
}

.contact .php-email-form input::focus,
.contact .php-email-form textarea::focus {
    background-color: #68A4C4;
}

.contact .php-email-form input {
    padding: 20px 15px;
}

.contact .php-email-form textarea {
    padding: 12px 15px;
}

.contact .php-email-form button[type="submit"] {
    background: #68A4C4;
    border: 0;
    padding: 10px 24px;
    color: #fff;
    transition: 0.4s;
}

.contact .php-email-form button[type="submit"]:hover {
    background: #8dbad2;
}

@-webkit-keyframes animate-loading {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes animate-loading {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/***********************
pelayanan
********************************/


#loketp,
#poliu,
#polig,
#poligz,
#polikl,
#igd,
#polikia,
#apotek,
#gudango,
#gudangi,
#ruangtu,
#ruangi,
#ruangls,
#ruangkp,
#ruangk,
#posyanb,
#posyanl,
#promosik,
#kesehatanl,
#pelayana a {
    display: block;
    font-size: 14px;
    text-decoration: none;
    background-color: #f1f1f1;


}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
    background: #0b212d;
    padding: 0 0 30px 0;
    color: #fff;
    font-size: 14px;
}



#footer .footer-top {
    background: #0d2735;
    border-top: 1px solid #17455e;
    border-bottom: 1px solid #123649;
    padding: 60px 0 30px 0;
}

#footer .footer-top .footer-info {
    margin-bottom: 30px;
}

#footer .footer-top .footer-info h3 {
    font-size: 18px;
    margin: 0 0 20px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    color: #a2cce3;
    font-weight: 600;
}

#footer .footer-top .footer-info p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    font-family: "Roboto", sans-serif;
    color: #fff;
}

#footer .footer-top .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #1e4356;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
    background: #68A4C4;
    color: #fff;
    text-decoration: none;
}

#footer .footer-top h4 {
    font-size: 18px;
    font-weight: 600;
    color: #a2cce3;
    position: relative;
    padding-bottom: 12px;
}

#footer .footer-top .footer-links {
    margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#footer .footer-top .footer-links ul i {
    padding-right: 2px;
    color: #a2cce3;
    font-size: 18px;
    line-height: 1;
}

#footer .footer-top .footer-links ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
    padding-top: 0;
}

#footer .footer-top .footer-links ul a {
    color: #fff;
    transition: 0.3s;
    display: inline-block;
    line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
    color: #a2cce3;
}

#footer .footer-top .footer-contact {
    margin-bottom: 30px;
}

#footer .footer-top .footer-contact p {
    line-height: 26px;
}

#footer .copyright {
    text-align: center;
    padding-top: 30px;
}

#footer .credits {
    padding-top: 10px;
    text-align: center;
    font-size: 13px;
    color: #fff;
}

#footer .credits a {
    color: #a2cce3;
}

/* Pelayanan page styles */
li {
    color: black;
}

h1 {
    font-size: 35px;
}

.tengah {
    text-align: center;
}

.rata {
    text-align: justify;
}

.section-title {
    text-align: left;
    padding-bottom: 20px;
    padding-top: 20px;
}

.section-title h2 {
    font-size: 28px;
    font-weight: 400;
    margin-bottom: 20px;
    padding-top: 30px;
    padding-bottom: 20px;
    position: relative;
}

.section-title h2::before {
    content: '';
    position: absolute;
    display: block;
    width: 120px;
    height: 1px;
    background: rgb(24, 23, 23);
    bottom: 1px;
    left: calc(50% - 60px);
}

.section-title h2::after {
    content: '';
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: #f00bbe;
    bottom: 0;
    left: calc(50% - 20px);
}